# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Django
db.sqlite3
media/
staticfiles/

# --- ФРОНТЕНД (ОБЯЗАТЕЛЬНО ДОБАВЬ ЭТО) ---
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
services/frontend/dist/
services/frontend/node_modules/

# Docker
.docker-compose.override.yml

# DB
postgres_data_auth/

# IDE
.vscode/
.idea/